@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent Class="pa-0" Style="margin: 0; padding: 0;">
        <div style="zoom: 0.8">
            @Body
        </div>
    </MudMainContent>
</MudLayout>